# Postgres
DATABASE_URL="postgresql://usuario:senha@localhost:5432/anti_fake_news"

# Google Fact Check Tools API (gratuita, precisa habilitar no Google Cloud Console)
GOOGLE_FACT_CHECK_API_KEY="sua_api_key_aqui"

PORT=3333
